@model MaxEndLabs.ViewModels.Product.ProductFormViewModel

@{
    ViewData["Title"] = "Create Product";
}

<div class="container mt-4">
    <h2>Create New Product</h2>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" method="post">
	            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	            <input type="hidden" asp-for="Id" /> 

                <partial name="_ProductFormPartial" model="Model"/>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create Product</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}